---
layout: default
---

<div class="b-content-wrapper">
  <ul class="a-articles-list">
    {% for post in paginator.posts %}
      <li class="a-articles-list--article">
        <span class="a-article-meta">{{ post.date | date_to_long_string }}</span>
        <h2 class="a-article-headline as-dense"><a href="{{post.url}}"> {{ post.title }} </a></h2>
        <section class="a-article-content">
          <p>
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
          </p>
        </section>
        {% assign reading_time = post.content | number_of_words | divided_by: 200 %}
        {% if reading_time > 0 %}
          <span class="a-article-meta">Approximate reading time: {{ reading_time }} Minutes</span>
        {% else %}
          <span class="a-article-meta">Approximate reading time: Less than a Minute</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
    <div class="a-pagination clearfix">
      {% if paginator.previous_page %}
        <a class="a-pagination-link as-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous Page</a>
      {% endif %}

      {% if paginator.next_page %}
        <a class="a-pagination-link as-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next Page &raquo;</a>
      {% endif %}
    </div>
  {% endif %}
</div>
