---
layout: default
---

<div class="InfoBox">
  <h1 class="InfoBox-headline">Notes</h1>
  <p class="InfoBox-text">
    Short updates on my life.
  </p>
</div>
{% assign notes = site.notes | sort: 'date' | reverse %}
{% for note in notes %}
<div class="Note">
  {% if note.headline %}
    <h2 class="Note-headline"><a href="{{note.url}}">{{ note.headline }}</a></h2>
  {% endif %}
  <p>{{ note.content }}</p>
  <span class="Note-date">{{ note.date | date_to_long_string }}</span>
  <a class="Note-permalink" href="{{note.url}}">Permalink ↠</a>
</div>
{% endfor %}
