<header class="SiteHeader">
  <div class="SiteHeader-content">
    <h1 class="SiteTitle">
      <a class="SiteTitle-link" href="{{ '/' | absolute_url }}"
        >{{ site.title }}</a
      >
    </h1>

    <nav>
      <ul class="PagesList">
        <li class="PagesList-item">
          <a class="PagesList-link" href="/blog">Blog</a>
        </li>
        <li class="PagesList-item">
          <a class="PagesList-link" href="/til">TIL</a>
        </li>
        <li class="PagesList-item">
          <a class="PagesList-link" href="/notes">Notes</a>
        </li>
        <li class="PagesList-item">
          <a class="PagesList-link" href="/about">About</a>
        </li>
        <li class="PagesList-item">
          <a class="PagesList-link" href="/now">Now</a>
        </li>
        <li class="PagesList-item">
          <a class="PagesList-link" href="/privacy">Privacy Policy</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
