<header class="SiteHeader">
  <div class="SiteHeader-content">
    <h1 class="SiteTitle">
      <a class="SiteTitle-link" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
    </h1>

    <nav>
      <ul class="PagesList">
           <li class="PagesList-item">
              <a class="PagesList-link" href="/blog">Blog</a>
            </li>
          {% for content_page in site.content_pages %}
            <li class="PagesList-item">
              <a class="PagesList-link" href="{{ content_page.url }}">{{ content_page.title }}</a>
            </li>
          {% endfor %}
      </ul>
    </nav>
  </div>
</header>
