.PagesList {
  list-style-type: none;
  font-family: $headline-font-family;
  margin: 0;
  padding: 0;

  .PagesList-item {
    display: inline;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0
    }
  }

  .PagesList-link {
    color: $text-color;
    font-size: 1rem;
    text-decoration: none;
  }
}
