.SiteHeader {
  padding: 1.875rem 1.25rem;
  border-bottom: 1px solid #eeeeee;

  .SiteHeader-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
