.SiteTitle {
  display: inline;
  position: relative;
  margin: 0;
  font-size: 1.125rem;
  font-family: $body-font-family;

  &:hover {
    top: 1px;
  }

  @media (max-width: 600px) {
    margin-bottom: 1rem;
  }

  .SiteTitle-link {
    margin: 0;
    text-decoration: none;
    color: $pink;

    &:hover {
      color: darken($accent, 20);
    }
  }
}
