// Fonts
$body-font-family: 'EB Garamond', serif
$headline-font-family: 'PT Sans', sans-serif

// Colors
$black: #333333
$grey: #666666
$lightgrey: #eeeeee
$white: #ffffff
$accent: #3f6aab
$bluegrey: #30363C
