// Fonts
$body-font-family: 'Alegreya Sans', sans-serif;
$headline-font-family: 'Alegreya Sans', sans-serif;

// Colors
$black: hsl(21, 10%, 9%)
$grey: hsl(200, 16%, 40%)
$lightgrey: hsl(21, 10%, 90%)
$mid-grey: hsl(21, 10%, 85%)
$dark-grey: hsl(21, 10%, 16%)
$white: #ffffff
$accent: #ff5050
$bluegrey: $lightgrey
$background: hsl(200, 33%, 96%)
