// Fonts
$body-font-family: 'Verdana', sans-serif
$headline-font-family: 'Verdana', sans-serif

// Colors
$characoal: #555b6e
$white: #f8f8f8
$teal: #89b0ae
$sand: #ffd6ba
$black: #444444
$pink: #E84A5F

$grey: hsl(200, 16%, 40%)
$lightgrey: hsl(21, 10%, 90%)
$mid-grey: hsl(21, 10%, 85%)
$dark-grey: hsl(21, 10%, 16%)
$white: #ffffff
$bluegrey: #3c6e71
$background: $white
$accent: #888888
$secondary: $pink
$text-color: $black
